<!DOCTYPE html>
<html>
<head>
    <title>Add item</title>
</head>
<body>
<form action="/createItem" method="post">
    <label for="itemName">Item name:</label>
    <input type="text" id="itemName" name="itemName" required><br>

    <label for="price">Price:</label>
    <input type="number" id="price" min="1" step="any" name="price" value="100" required><br>

    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" name="quantity" value="10" required><br>

    <input type="submit" value="Add item">
</form>
</body>
</html>