<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
<form action="/register" method="post">
    <label for="firstName">First name:</label>
    <input type="text" id="firstName" name="firstName" required><br>

    <label for="lastName">Last name:</label>
    <input type="text" id="lastName" name="lastName" required><br>


    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>

    <input type="radio" id="choice1" name="userType" value="Client" checked>
    <label for="choice1">Client</label>

    <input type="radio" id="choice2" name="userType" value="Seller">
    <label for="choice2">Seller</label>

    <input type="submit" value="Register">
</form>
</body>
</html>